html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F172A;
    color: #F8FAFC;
}

/* HEADER */
.header-brand {
    background-color: #ffffff;
    padding: 5px 80px;
}

p {
    color: white;
    font-size: 50px;
}

.skill-card p {
    font-size: 25px;
}

.hero-text h2 {
    color: rgb(182, 182, 182);
    font-size: 100px;
}

.about h2 {
    font-size: 50px;
     color: rgb(182, 182, 182);
}

.skills h2 {
    font-size: 50px;
     color: rgb(182, 182, 182);
}

.contact h2 {
    font-size: 50px;
     color: rgb(182, 182, 182);
}

h3 {
    color: rgb(182, 182, 182);
}

label {
    color: rgb(182, 182, 182);
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 80px;
    background-color: #111111;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    color: #C6A75E;
}

#darkToggle {
    background-color: #C6A75E;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

section {
    height: 100vh;
    padding: 140px 80px 0 80px;
    display: flex;
    align-items: center;
    background-color: #0F172A;
    font-family: 'Playfair Display', serif;
}

/* HERO */
.hero {
    justify-content: space-between;
    font-size: 25px;
}

.hero-text {
    width: 50%;
}

.hero img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

/* ABOUT */
.about,
.skills,
.contact {
    flex-direction: column;
    justify-content: center;
}

/* SKILLS */
.skill-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.skill-card {
    background-color: #1E293B;
    padding: 25px;
    border-radius: 15px;
    width: 200px;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #0F172A;
    padding: 30px 80px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer p {
    font-size: 16px;
    color: #F8FAFC;
    margin: 0;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #C6A75E;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #F8FAFC;
}

/* LIGHT MODE */
.light-mode {
    background-color: #F8FAFC;
    color: #0F172A;
}

.light-mode section {
    background-color: #F8FAFC;
}

.light-mode .navbar {
    background-color: #000000;
}

.light-mode .nav-links a {
    color: #ffffff;
}

.light-mode .nav-links a:hover {
    color: #C6A75E;
}

.light-mode .skill-card {
    background-color: #4a4a4b;
    color: #0F172A;
}

.light-mode header {
    background-color:#F8FAFC ;
    color: #0F172A;
}

.light-mode footer {
    background-color: #F8FAFC;
}

.light-mode footer p {
    color: #0F172A;
}

.light-mode .footer-links a {
    color: #0F172A;
}

.light-mode .footer-links a:hover {
    color: #C6A75E;
}

.light-mode h2 {
    color: #353535;
}

.light-mode p {
    color: #111111;
}

.light-mode .header-brand{    
    background-color:#F8FAFC ;   
     color: #0F172A;
}
