body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
}

#addBtn {
    background-color: #2563eb;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    border-radius: 8px;
}

.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background-color: #ef4444;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#clearCompleted {
    background-color: #ef4444;
    color: white;
}